#content { 
                background-color:lightblue;
                border: 4px solid pink; 
                padding: 10px; 
                border-radius: 8px; 
                margin-bottom:100px; 
                font-family: 'Times New Roman';
            }
.judul{
    color:mediumvioletred; 
    height: 300px;
    font-size: 50px; 
    text-align: center;
    font-family: Impact;
    }  
.bulat{
    margin: 20px;
    border-radius: 1000em;
    border: 3px solid #ddd;
    width: 140px;
    height: 140px;
    margin-left: 1075px;
    }

.text{
    margin-left: 1100px; 
    font-family: 'Times New Roman';
    margin-top: -15px; 
    font-size: 29px; 
    color: white;
}

tr, td {
    font-size: 20px;
    font-family: 'Times New Roman';
    text-align: center;
}